<div infinite-scroll    
    [infiniteScrollDistance]="scrollDistance"    
    [infiniteScrollUpDistance]="scrollUpDistance"    
    [infiniteScrollThrottle]="throttle"    
    (scrolled)="onScrollDown()"
    [scrollWindow]="false"
    class="repoContainer"> 
    <mat-card *ngFor="let repo of allRepos" class="my-3 mx-5">
     <mat-card-title-group>
        <img mat-card-sm-image src={{repo.owner.avatar_url}} >
         <mat-card-title>{{repo.name}}</mat-card-title>
        <mat-card-subtitle>{{repo.description}}</mat-card-subtitle> 
    </mat-card-title-group>
        <span class="badge bg-secondary mx-1 p-1">Stars: {{repo.stargazers_count}}</span>
        <span class="badge bg-secondary mx-1">Issues: {{repo.open_issues_count}}</span>
        <span>Submitted {{repo.pushed_at | Dayes }} Dayes ago by {{repo.name}}</span>
    </mat-card>
</div>
